html, body {
  font-family: "Helvetica";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#main-container {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

#side-bar {
  flex-shrink: 1;
  flex-basis: 25%;
  max-width: 240px;
  min-width: 100px;
  background-color: #222;
}

#chat-container {
  flex-grow: 4;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

#message-container {
  flex-grow: 1;
  background-color: white;
  display: block;
  overflow-y: scroll;
  padding-top: 8px;
}

.input-box {
  background-color: white;
  border: 1px solid #333;
  padding: 15px;
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  font-size: 18px;
  box-shadow: 0px 0px 3px -2px black;
}

#title-bar {
  color: #333;
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  padding: 8px 0 16px 0;
  margin-top: 8px;
  border-bottom: 2px solid #eee;
}

.message {
  overflow: auto;
}

.bubble {
  color: white;
  font-size: 16px;
  display: inline-block;
  background-color: #19647E;
  border-radius: 18px 18px 18px 2px;
  padding: 14px 24px 10px 24px;
  margin: 3 12px 0 12px;
  max-width: 40%;
}

.bubble-personal {
  float: right;
  border-radius: 18px 18px 2px 18px;
}

.bubble-timestamp {
  opacity: 0.4;
  text-align: right;
  margin-top: 10px;
  font-size: 8pt;
  user-select: none;
}

.empty-results {
  color: #aaa;
  width: 100%;
  margin-top: 8em;
  text-align: center;
  user-select: none;
}

.convo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  color: white;
  font-size: 12pt;
  margin: 6px 8px 0 8px;
  padding: 0 6px 0 8px;
  border-radius: 1em;
  background-color: #555;
}

.convo:hover {
  background-color: #666;
  cursor: pointer;
}

.convo-name {
  flex-grow: 1;
}

.status {
  width: 8pt;
  height: 8pt;
  border-radius: 8pt;
  margin-right: 6px;
  background-color: #222;
}
.status-online { background-color: #00ff00; }

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15pt;
  height: 15pt;
  margin: 6px 0 6px 0;
  border-radius: 6pt;
  background-color: #ff0000;
  font-size: 10pt;
  font-weight: bold;
}

.convo-create-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

#convo-create {
  font-family: 'Verdana';
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
  width: 32pt;
  height: 32pt;
  border: 2px #888 dotted;
  border-radius: 48px;
  background-color: #555;
  font-size: 20pt;
  font-weight: bold;
  color: #888;
  user-select: none;
}

#convo-create:hover {
  cursor: pointer;
  opacity: 1;
}

.overlay {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

.modal {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin-top: 3em;
  padding: 8px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 32px -8px black;
}

.user-search-prompt {
  width: 80%;
  height: 80%;
  max-width: 600px;
  max-height: 600px;
}

#user-search-results {
  flex-grow: 1;
  overflow-y: auto;
  padding: 16px;
}

.user-search-result {
  user-select: none;
  padding: 16px;
  border: 1px #f0f0f0 solid;
  border-radius: 12px;
}

.user-search-result:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.error-modal { padding: 32px; }
#error-confirm { margin-top: 12px; }
