@font-face {
    font-family: SFProDisplay;
    src: url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family: SFProDisplay;
	font-weight: bold;
    src: url("../fonts/SF-Pro-Display-Bold.otf") format("opentype");
}

@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.otf") format("opentype");
}

@font-face {
    font-family: Helvetica;
	font-weight: bold;
    src: url("../fonts/Helvetica-Bold.otf") format("opentype");
}
