#login-main #index_login {
    font-family: Open-Sans;
	position: relative;
	z-index: auto;
    color: white;
    background-color: #19647e;
    font-variant: normal;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    align-content: center;
    align-items: left;
    flex-flow: column;
    text-align: center;
    width: 20%;
    height: 100%;
	float: left;
	padding-bottom: 5px;
	margin-top: 20%;
	margin-left: 10%;
}
.select_button {
    border: none;
	position: relative;
	z-index: auto;
    background-color: #37392e;
    display: inline-block;
	color: #FFFFFF;
}
#login-main #index_login input {
	z-index: auto;
	border: none;
	position: relative;
	background-color: #2c4251;
}

#login_header{
	margin: 0 auto;
	z-index: auto;
	position: relative;
	align-items: inherit;

}

#register_button{
	/*-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;	*/
	z-index: auto;
	position: relative;
    text-decoration: none;
	border: none;
	display: inline-block;
    color: white;
	background-color: #37392e;
	font-size: 80%;
	width: 60%;	
}
.Mia{
	position: absolute;
	margin-bottom: -120px;
	margin-top: -120px;
	overflow: hidden;
	bottom: 0;
	right: 0;
	z-index: -1;
	
}

.login-background{
    top: 0px;
    left: 0px;
    z-index: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background: -webkit-linear-gradient( to bottom right, rgba(25,100,126,1), rgba(25,100,126,0.1));
    background: -moz-linear-gradient( to bottom right, rgba(25,100,126,1), rgba(25,100,126,0.1));
    background: -ms-linear-gradient( to bottom right, rgba(25,100,126,1), rgba(25,100,126,0.1));
    background: -o-linear-gradient( to bottom right, rgba(25,100,126,1), rgba(25,100,126,0.1));
    background: linear-gradient( to bottom right, rgba(25,100,126,1), rgba(25,100,126,0.1));
}

@font-face {
	font-family: "Open-Sans";
	src: local('Open-Sans'), local('Awesome-Font-Regular'), url("OpenSans-Regular.woff") format('woff');
}


@font-face{
	font-family: Comfortaa;
	src: url("Comfortaa-Bold.woff") format('woff');
}
#header{
	z-index: 6;
	position: relative;
	font-family: Comfortaa;
	color: white;
	font-weight: 400;
	align-items: center;
	align-content: center;
	text-align: center;
	font-size: 400%;
	
}
